
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- ESTO SE COMENTÓ YA QUE USAREMOS EL ACERCAMIENTO CON DYMANIC COMPONENTS -->
        <!-- <div *ngIf="error" class="alert alert-danger">
            <p >{{error}}</p>
        </div> -->
        <!-- ESTE ES EL COMPONENTE ALERT CREADO USANDO NGIF -->
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        
        <!-- ESTE ES EL COMPONENTE CREADO USANDO DYNAMIC COMPONENTS -->
        <!-- "appPlaceholder" ES EL DIRECTIVE CREADO EN LA CARPETA "shared/placeholder/placeholder.directive.ts" -->
        <ng-template appPlaceholder></ng-template>
        <div ng *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form 
        #authForm="ngForm" 
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6">
            </div>
            <div>
                <button 
                style="margin-right: 5px;" 
                class="btn btn-primary"
                type="submit"
                [disabled]="!authForm.valid"
                >{{isLoginMode ? 'Ingresar' : 'Registrar'}}</button>
                <button 
                class="btn btn-primary" 
                type="button"
                (click)="onSwitchMode()">{{isLoginMode ? 'Ir a Registrarse' : 'Ir al ingreso'}}</button>
            </div>
        </form>
    </div>
</div>