<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit>
            <!-- (ingredientAdded)="onIngredientAdded($event)" <- SE ELIMINÓ GRACIAS AL USO DE SERVICIOS -->
        </app-shopping-edit>
        <hr>
        <ul class="list-group">
            <!-- EL PIPE " | async" SE SUSCRIBE A UN OBSERVABLE Y ESPERA QUE ESTE SE RESUELVA
            PARA LUEGO USAR EL TIPO DE DATO QUE RETORNA DENTRO DEL TEMPLATE -->
            <a 
            class="list-group-item" 
            style="cursor: pointer;" 
            *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
            (click)="onEditItem(i)">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>