<div class="row">
    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
        <!-- (recipeWasSelected)="selectedRecipe = $event" <- FUE ELIMINADO GRACIAS AL USO DE SERVICIOS -->
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
        <!-- <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-detail>
            <ng-template #infoText>
                <p>Por favor seleccione una receta!</p>
            </ng-template> -->
    </div>
</div>